html, body {
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('img/bg.jpg');
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(30px);
    font-family: Arial, sans-serif;
    color: #fff;
}


header {
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.spawn {
    color: #e17b0dc7;
    text-decoration: none;
    font-family: Apple Chancery, cursive;
    margin: 0;
    font-size: 2.3rem;
    font-weight: 900;
    margin-left: 5%;
}

.store {
    color: rgba(212, 36, 48, 0.843);
    font-family: Apple Chancery, cursive;
    font-size: 2.3rem;
    
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}



.nav-link:hover {
    color: rgba(161, 31, 39, 0.843);
}


.profile-dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
}

.profile-menu {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    right: 0;
    z-index: 20;
}

.profile-menu a {
    display: block;
    color: rgb(194, 85, 21);
    padding: 8px;
    text-decoration: none;
}

.profile-menu a:hover {
    background-color: #444;
    color: rgb(244, 104, 22);
}

.profile-dropdown:hover .profile-menu {
    display: block;
}

.profile-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.profile-icon img {
    width: 50px;
    height: 40px;
    border-radius: 50%;
}

.user-name {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}


.checkout-container {
    flex: 1;
    margin: 40px auto;
    width: 85%;
    max-width: 1100px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    overflow-y: auto;
    max-height: 60%;
}


.order-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.order-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(62, 10, 21);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(136, 15, 41);
}

.order-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

h1, h3, p {
    margin-bottom: 15px;
}


button {
    margin-top: 20px;
    background-color: rgba(161, 31, 39, 0.843);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    
}

button:hover {
    background-color: rgba(212, 36, 48, 0.843);
}



.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box {
    background-color: rgb(57, 1, 74);
    color: white;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 10px #fff;
}
.review{
    background-color: green;
}


